<!--

   .Headline {

      margin: 1%;

      font-family: 'Abril Fatface', cursive;

      text-align: center;

      font-size: 150px;

    }

    .date {

      font-family: 'Abril Fatface', cursive;

      text-align: center ;

      margin: 6%;

    }

    .text1 {

      font-size: 50px;

      margin-left: 30%;

      margin-right: 30%;

      text-align: center;

      font-family: 'Source Sans Pro', sans-serif;

    }

    .copyright {
    
      text-align: center ;

    }

    .pic-home {

      text-align: right;

    }

    .text1-headline {

      text-align: center;

      font-size: 50px;

       font-family: 'Source Sans Pro', sans-serif;

    }

//-->
